a{
	text-decoration: none;
	color: inherit;
}

html{
	font-family: "Open Sans", "Microsoft YaHei", Arial, sans-serif;
	color: #999;
	max-width: 1024px;
	margin: 0 auto;
	font-size: 16px;
}

body > h1, header h1, article h1{
	color: #444;
}

body > h1, article > h1{
	font-size: 1.5em;
}

article{
	margin-left: 2em;
}

article section > h1{
	font-size: 1em;
	font-weight: normal;
}

article section > h1::before{
	content: "[";
}

article section > h1::after{
	content: "]";
}

article p{
	text-indent: 2em;
}

.profile{
	text-align: center;
}

.profile p:nth-child(1){
	color: #444;
	font-size: 2em;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
}

.button{
	display: inline-block;
	border-radius: 0.3em 0.3em;
	border: 1px #999 solid;
}

.button a{
	transition: 200ms ease-in-out;
	padding: 0 1.4em;
}

.button a:hover{
	color: #fff;
}

.button canvas{
	border-radius: 0.3em 0.3em;
	pointer-events: none;
	position: absolute;
	z-index: -1;
}